<%= render 'static_pages/partials/header' %>

<header class="masthead home-container">
  <div class="container">
    <div class="row text-justify">
	<p><h1>PRIVACY POLICY</h1></p>

<br/>

<p><small>Last udated October 21, 2017</small></p>
<p>


	Martin & Clark, LLC (“we” or “us” or “our”) respects the privacy of our users (“user” or “you”). The Privacy Policy explains how we
collect, use, disclose, and safeguard your information when you visit our website aceoffs.com and our mobile application, including
any other media form, media channel, mobile website, or mobile application related or connected thereto (collectively, the “AceOff
site”). Please read this Privacy Policy carefully. IF YOU DO NOT AGREE WITH THE TERMS OF THIS PRIVACY POLICY,
PLEASE DO NOT ACCESS THE SITE.
We reserve the right to make changes to this Privacy Policy at any time and for any reason. We will alert you about any changes
by updating the “Revised” date of this Privacy Policy. Any changes or modifications will be effective immediately upon posting the
updated Privacy Policy on the AceOff site, and you waive the right to receive specific notice of each such change or modification.
You are encouraged to periodically review this Privacy Policy to stay informed of updates. You will be deemed to have been made
aware of, will be subject to, and will be deemed to have accepted the changes in any revised Privacy Policy by your continued use
of the AceOff site after the date such revised Privacy Policy is posted.</p>
<p>
COLLECTION OF YOUR INFORMATION
We may collect information about you in a variety of ways. The information we may collect on the AceOff site includes:
Personal Data
Personally identifiable information, such as your name, shipping address, email address, and telephone number, and demographic
information, such as your age, gender, hometown, and interests, that you voluntarily give to us when you register with the AceOff
site or our mobile application, or when you choose to participate in various activities related to the AceOff site and our mobile
application, such as online chat and message boards. You are under no obligation to provide us with personal information of any
kind, however your refusal to do so may prevent you from using certain features of the AceOff site and our mobile application.
Derivative Data
Information our servers automatically collect when you access the AceOff site, such as your IP address, your browser type, your
operating system, your access times, and the pages you have viewed directly before and after accessing the AceOff site. If you
are using our mobile application, this information may also include your device name and type, your operating system, your phone
number, your country, your likes, and replies to a post, and other interactions with the application and other users via server log
files, as well as any other information you choose to provide.
Financial Data
Financial information, such as data related to your payment method (e.g. valid credit card number, card brand, expiration date)
that we may collect when you purchase, order, return, exchange, or request information about our services form the AceOff site or
our mobile application. We store only very limited, if any, financial information that we collect. Otherwise, all financial information is
stored by our payment processor, Stripe, AgeChecker.net, and you are encouraged to review their privacy policy and contact them
directly for responses to your questions.
Data From Social Networks
User information from social networking sites, such as Apple’s Game Center, Facebook, Google+, Instagram, Pinterest, Twitter,
including your name, your social network username, location, gender, birth date, email address, profile picture, and public data for
contacts, if you connect your account to such social networks. If you are using our mobile application, this information may also
include the contact information of anyone you invite to use and/or join our mobile application.
Data From Contests, Giveaways, and Surveys
Personal and other information you may provide when entering contests or giveaways and/pr responding to surveys.
Mobile Application Information
If you connect using our mobile application:
Geo­Location Information. We may request access or permission to and track location­based information from your mobile
device, either continuously or while you are using our mobile application, to provide location­based services. If you wish to
change our access or permissions, you may do so in your device’s settings.
Mobile Device Access. We may request access or permission to certain features from your mobile device, including your
mobile device’s camera, and other features. If you wish to change our access or permission ,you may do so in your device’s
settings.
Push Notifications. We may request to send you push notifications regarding your account or our Services. If you wish to optout
from receiving these types of communications, you may turn them off in your device’s settings.
</p>
<p>
USE OF YOUR INFORMATION
Having accurate information about you permits us to provide you with a smooth, efficient, and customized experience. Specifically,
we may use information collected about you via the AceOff site our mobile application to:
Administer sweepstakes and promotions
Compile anonymous statistical data and analysis for use internally or with third parties.
Deliver targeted advertising, coupons, newsletters, and promotions, and other information regarding our website and mobile
application to you.
Email you regarding your account or order.
Enable user­to­user communications.
Fulfill and manage purchases, order payments, and other transactions related to the AceOff site and our mobile application.
Increase the efficiency and operation of the AceOff site and our mobile application.
Monitor and analyze usage and trends to improve your experience with the AceOff site and our mobile application.
Prevent fraudulent transactions, monitor against theft, and protect against criminal activity.
Process payments and refunds.
Resolve disputes and troubleshoot problems.
Respond to product and customer service requests.

DISCLOSURE OF YOUR INFORMATION
We may share information we have collected about you in certain situations. Your information may be disclosed as follows:
By Law or to Protect Rights
If we believe the release of information about you is necessary to respond to legal process, to investigate or remedy potential
violations of our policies, or to protect rights, property, and safety of others, we may share your information as permitted or
required by any applicable law, rule, or regulation. This includes exchanging information with other entities for fraud protection and
credit risk reduction.
</p>
</div>
</div>
</header>

<%= render 'static_pages/partials/footer' %>
