      <h3>Rules</h3>
      <p>
Agreement to Official Contest Rules
Participation in this contest constitutes entrant's full and unconditional agreement to and acceptance of these Official Contest Rules and the decisions of AceOff which are final and binding. Winning a prize is contingent upon being compliant with these Official Rules and fulfilling other requirements set forth herein.
<br />
<br />