    <!-- HHHHHHHHHHHHHHHHHH        Bigfeature         HHHHHHHHHHHHHHHH -->
    <section id="bigfeatures" class="img-block-3col wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <ul class="item-list-right item-list-big">
                      <li class="wow fadeInLeft animated"> <i class="fa fa-cogs"></i>
                          <h3>Fully Bespoke</h3>
                          <p>We custom-fit the website to your exact needs and wishes, no project is too big for us.</p>
                      </li>
                        <li class="wow fadeInLeft animated"> <i class="fa fa-heart"></i>
                            <h3>Love at first sight</h3>
                            <p>Your customers are looking at you online, let's make sure they fall in love with your business.</p>
                        </li>
                        <li class="wow fadeInLeft animated"> <i class="fa fa-puzzle-piece"></i>
                            <h3>Present your Business</h3>
                            <p>Your web presence should be an extension of your business, we make sure that happens.</p>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 col-sm-pull-4 text-center">
                    <div class="animation-box">
                      <div class="image_up wow rotateIn animated animated">
                        <p>
                          <!-- <img class="desktop-img" src="img/desktop.png" alt=""> -->
                          <%= image_tag 'arcade_box.png', class:"desktop-img"%>
                        </p>
                      </div>
                    </div>
                </div>
            </div>
        </div> <!-- /.container -->
    </section> <!-- /#bigfeatures -->

