<nav class="container-fluid  navbar-ace">
	<span id="remaining"></span>
	<img src="assets/aceoff_small.png" alt="" />
	<span class="username-top"><%= logged_in? ? (current_user.username) : () %></span>
	<a href="#">
		<img class="userImg" src="assets/user.png" alt="" />
	</a>
</nav>

