<nav class="navbar navbar-expand-sm fixed-top" id="mainNav">
  <div class="container">
    <div class="row">
    <div class="col-md-10 col-lg-10">
      <a class="navbar-brand" href="/">
        <%= image_tag 'aceoff_small.png', class:"img-fluid" %>
      </a>

    </div>
    <div class="col-md-2 col-lg-2 float-right">
      <span id="remaining"></span>
    </div>
    <!-- <div class="col-"> -->
      <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"> -->
        <!-- Menu -->
      <!-- <i class="fa fa-bars"></i> -->
      <!-- </button> -->
    <!-- </div> -->
    </div>

  </div>
</nav>
