<p>
Beta Coins are given as a consolation for the top performers who fell just short of becoming the Ace. Beta Coins can be used to redeem other prizes that we will offer once the full site is open. The more you hone your skill, the more you will likely receive Beta Coins as you compete in other contests. Top 20% in every contests will receive Beta Coins, so the more often you gain high scores, the more Beta Coins you will collect.</br>

Redeem anything such as iPads, iPhones, laptops, other cool electronics, jewelry, designer apparel, vacations, automobiles, cash, and so much more. For example something such as an iPad will costs somewhere close to 80,000 Beta Coins. If you haven’t became the Ace, but have collected enough Beta Coins over multiple contests, then you will be able to redeem something such as an iPad. </br>

Head-to-head AceOffs will be available when the full site has launched. Challenge others in head-to-head contests for their Beta Coins. 
</br>
Head-to-head AceOffs will allow users to quickly accrue large amounts of Beta Coins without spending any money. Defeat others in head-to-head AceOffs and quickly attain Beta Coins to redeem our higher valued prizes. </br>
</p>